.carousel-item img {
  max-width: 1200px;
  margin: 10px 50px;
}

.message-center {
 max-width: 600px;
 margin:auto;
 position:relative;
}

.message {
  padding: 40px;
  background-color: black;
  color: white;
  margin: auto;
  text-align: center;
}

.message-span{
  color: white;
  font-size: 24px;
  text-align: right !important;
  position:absolute;
  top:30px;
  right:30px;
  cursor:pointer;
}